pandas==1.2.3
cython==0.29.23
POT==0.7.0
Shapely==1.7.1
geopandas==0.9.0
geopy==2.1.0
scikit-learn==0.24.1
selenium==3.141.0
GitPython==3.1.14
requests==2.25.1
Unidecode==1.2.0
cryptography==39.0.1
matplotlib==3.4.1
rtree==0.9.7
pymc3==3.11.2
fastdtw==0.3.4
seaborn==0.11.1
mapclassify==2.4.2
contextily==1.1.0
python-igraph==0.8.2
google-api-python-client==1.9.3
google-cloud-bigquery==1.24.0
googletrans==3.1.0a0
pytrends==4.7.3